.imageCont {
  display: flex;
  border: 5px solid rgb(0, 0, 0);
  height: 5000px;
  width: 3493px;
  position: relative;
}
.row,
.box {
  display: flex;
  flex: 1 1;
}
.box {
  outline: 0.1px solid rgba(128, 128, 128, 0.239);
}
.row {
  flex-direction: column;
}

body {
  background-color: cornsilk;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.waldoImg {
  position: absolute;
  z-index: -1;
}

.hit-false {
  color: red;
}

.hit-true {
  color: green;
}
