.imageCont {
  display: flex;
  border: 5px solid rgb(0, 0, 0);
  height: 1000px;
  width: 1000px;
}
.row,
.box {
  display: flex;
  flex: 1 1;
}
.box {
  outline: 0.5px solid grey;
}
.row {
  flex-direction: column;
}

body {
  background-color: cornsilk;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
