.imageCont {
  display: flex;
  border: 5px solid rgb(0, 0, 0);
  height: 5000px;
  width: 3493px;
  position: relative;
}
.row,
.box {
  display: flex;
  flex: 1 1;
}
.box {
  outline: 0.1px solid rgba(128, 128, 128, 0.239);
}
.row {
  flex-direction: column;
}

body {
  background-color: cornsilk;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.waldoImg {
  position: absolute;
  z-index: -1;
}

.ball {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(4, 116, 191, 1) 60%, rgba(0, 212, 255, 1) 97%);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 13px 1px rgba(9, 9, 121, 0.73);
  transition: 0.1s;
  pointer-events: none;
  position: fixed;
}
